head
  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  //- SEO Meta Data
  block head
  meta(name='author', content='#{author}')
  meta(name='description', content='#{description}')
  meta(name='keywords', content='#{keywords}')

  //- Styles
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
