<h1>My Account</h1>

<h2>LoopBack User</h2>
User Id: <%= user.id %><br/>
User Name: <%= user.username %><br/>
EMail: <%= user.email %>

<h2>Third Party Profiles</h2>
<p>
    <%= JSON.stringify(user.profiles) %>
<p>
    <a href='/auth/logout'>Logout</a><br/>
    <a href='/'>Home</a>