extends ../layouts/layout

block head
  title WhenHub API Server

block content
  .row
    .col-md-6.col-md-offset-3
      h1 Link Accounts
      ul.list-unstyled
        li
          a.btn.btn-primary(href="/link/facebook") Link Facebook
        li
          a.btn.btn-primary(href="/link/google") Link Google
        //- li
        //-   a.btn.btn-primary(href="/link/twitter") Link Twitter
        //- li
        //-   a.btn.btn-primary(href="/link/linkedin") Link LinkedIn
