extends ../layouts/layout

block head
  title WhenHub API Server

block content
  .row
    .col-md-6.col-md-offset-3
      h1 Login:
      ul.list-unstyled
        li
          a.btn.btn-primary(href='/local') Login with local account
        li
          a.btn.btn-primary(href="/auth/facebook") Login with Facebook
        li
          a.btn.btn-primary(href="/auth/google") Login with Google
        li
          a.btn.btn-primary(href="/auth/twitter") Login with Twitter
